.container {
  max-width: 300px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container:hover {
  cursor: pointer;
}

.container:active {
  border: 1px solid blue;
}

.imageDiv {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.imageDiv > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container > h5 {
  font-weight: bolder;
  margin: 0;
}

.description {
  font-size: 12px;
}

.tagsDiv {
  display: flex;
  justify-content: space-between;
}

.tagsDiv > p {
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 12px;
}

.tagsDiv > p > span {
  font-weight: normal;
}

.gradeicon {
  color: gold;
  font-size: 12px;
}

.deleteBtn {
  color: #ffff;
  background-color: red;
  border-radius: 5px;
}

.deleteBtn:hover {
  border: 1px solid rgb(100, 0, 0);
  border-radius: 5px;
}
